
<!DOCTYPE html>
<html>

<head>
  <title>Our Company</title>
</head>

<body>



<span class="glyphicon glyphicon-home"></span>


<h1   class="alert alert-primary">Welcome to Instapay </h1>

  

</body>
</html>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="alrazy-title" data-splitting>Instapay</div>
<div class="alrazy-title" data-splitting>Instapay private limited</div>
<img src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.cbk.com%2FPersonal-Banking%2FServices-and-Support%2FAl-Tijari-InstaPay&psig=AOvVaw0EEUSBj9LeQdrwXKjJ8ukq&ust=1601489389683000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCODghoj7juwCFQAAAAAdAAAAABAD" alt="">

<script src="https://unpkg.com/splitting@1.0.0/dist/splitting.js"></script>
<script>
    Splitting();

</script>

